@keyframes float {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes explode {
    0% {
        transform: scaleY(1.05);
    }

    60% {
        transform: scaleY(1.08);
    }

    100% {
        transform: scaleY(1.05);
    }
}

@keyframes slide {
    0% {
        transform: translateX(-100%) translateY(-50%);
    }
    100% {
        transform: translateX(100%) translateY(-50%);
    }
}